<p>
    Na página "Funcionarios":
    <br> Esta aplicação demonstra o uso de Angular com dados de funcionarios 
    (id, nome, foto, email e subobjetos).
    <br><br>Já na página "Cadastro":
    <br> Os dados dos funcionários são adquiridos por uma requisição na uri <a href="'https://bu.furb.br/mcardoso/progWeb/apiRestAval.php/cadastro/'">'https://bu.furb.br/mcardoso/progWeb/apiRestAval.php/cadastro/'</a>,
    também foi inclementado ao o usuário a capacidade de consultar, excluir e alterar funcionários.

    <br><br>Usando arquitetura MVC na aplicação.

</p>